<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature android:name="android.hardware.camera" android:required="true" />
    <uses-feature android:name="android.hardware.camera.front" android:required="false" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TaleXAndroidApp"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.ekyc.EkycActivity"
            android:exported="false" />
        <activity
            android:name=".ui.login.RegisterActivity"
            android:exported="false" />

        <activity
            android:name=".ui.login.VerifyOtpActivity"
            android:exported="false" />

        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="false" />

        <activity
            android:name=".ui.login.CompleteProfileActivity"
            android:exported="false" />

        <activity
            android:name=".ui.login.ChangePasswordActivity"
            android:exported="false" />

        <activity
            android:name=".ui.login.ForgotPasswordActivity"
            android:exported="false" />

        <activity
            android:name=".ui.login.ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.account.ProfileDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.movies.MovieDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
             </application>

</manifest>